@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  background-color: #222;
  height: 2200px;
}

.header {
  display: flex;
  margin-left: 10rem;
}

.header-title {
  color: gray;
  margin-left: 1rem;
  cursor: pointer;
}

.header-title:hover {
  color: white;
}

.nav-router {
  display: flex;
  margin-left: 20rem;
  margin-top: 1.5rem;
}

.home-page {
  margin-top: 8rem;
}

.home-title {
  font-size: 50px;
}

.home-txt {
  margin-left: 24rem;
  margin-top: 1.5rem;
  font-weight: 300;
  color: white;
  width: 600px;
  font-size: 22px;
}

.form-home {
  margin-left: 22rem;
  margin-top: 2rem;
}

.form-inline .form-control {
  display: inline-block;
  width: 513px;
  height: 3rem;
  vertical-align: middle;
}

.btn-input {
  margin-left: 1rem;
  height: 2.5rem;
  width: 5.5rem;
}

.btns-form {
  margin-left: 22rem;
  margin-top: 2rem;
}

.btn-title {
  font-size: 22px;
  font-weight: 300;
}

.btn {
  height: 3rem;
  width: 15rem;
}

.home-footer {
  margin-top: 9.5rem;
  background-color: #444;
  height: 110px;
  padding-top: 0.5rem;
}

.footer-title {
  color: white;
  font-weight: 200;
  text-align: center;
  font-size: 23px;
}

.footer-img {
  display: flex;
  margin-left: 5rem;
  margin-top: 1.5rem;
}

.info-page {
  height: 450px;
  background-color: white;
  padding-top: 2rem;
}

.info-title {
  color: #666;
  font-size: 33px;
  text-align: center;
}

.info-block-1 {
  margin-left: 8rem;
  margin-top: 3rem;
  display: flex;
}

.img-block {
  border-radius: 50px;
  margin-right: 2rem;
}

.info-block-2 {
  margin-left: 4rem;
  margin-top: 3rem;
  display: flex;
}


.info-block-txt {
  width: 370px;
  color: #666;
  font-size: 15px;
}

.info-block-title {
  color: #666;
  font-weight: 400;
}

.main-info {
  display: flex;
}

.footer-info {
  height: 160px;
  background-color: #444;
  padding-top: 2.5rem;
}

.footer-info-txt {
  color: white;
  width: 530px;
  margin-left: 18rem;
  font-size: 20px;
  font-weight: 400;
}

.foto {
  border-radius: 60px;
  width: 100px;
  height: 100px;
}

.figure-logo {
  margin-left: 1.5rem;
  padding-bottom: 1rem;
  display: flex;
}

.txt-logo {
  display: flex;
}

.second-page {
  height: 1650px;
  background-color: white;
  padding-top: 3rem;
}

.main-title {
  color: #666;
  text-align: center;
  font-size: 28px;
  font-weight: 200;
}

.card-info {
  display: flex;
  margin-top: 3rem;
  margin-left: 10rem;
}

.card-info-left {
  display: flex;
  margin-top: 4rem;
  margin-left: 10rem;
}

.title-card {
  color:#20aa9c;
  font-size: 23px;
  font-weight: 400;
  margin-left: 1rem;
}

.title-card-left {
  color: #20aa9c;
  font-size: 23px;
  font-weight: 400;
  margin-right: 1rem;
}

.second-title {
  color: #666;
  font-size: 17px;
  font-weight: 400;
  margin-left: 1rem;
}

.second-title-left {
  color: #666;
  font-size: 17px;
  font-weight: 400;
  margin-right: 1rem;
}

.card-txt {
  width: 420px;
}

.learn-more {
  margin-left: 1rem;
  color: #08c;
  font-weight: 200;
  cursor: pointer;
}

.learn-more-left {
  margin-right: 1rem;
  color: #08c;
  font-weight: 200;
  cursor: pointer;
}

.main-footer {
  height: 200px;
  background-color: #333;
  margin-top: 7rem;
  padding-top: 2rem;
}

.main-footer-title {
  color: white;
  font-weight: 300;
  text-align: center;
}

.footer-brand {
  margin-left: 4rem;
  margin-top: 1rem;
}

.main-second-footer {
  margin-top: 3rem;
  background-color: #222;
  height: 300px;
  display: flex;
}

.footer-li {
  color: #999;
  font-size: 14px;
  list-style-type: none;
}

.footer-li:hover {
  color: white;
}

.info-div {
  margin-left: 10rem;
  padding-top: 3.5rem;
}

.links-div {
  margin-left: 4rem;
  padding-top: 3.5rem;
}

.blog-div {
  margin-left: 2.5rem;
  padding-top: 3.5rem;
}

.contact-div {
  margin-left: 2rem;
  padding-top: 3.5rem;
}

.last-footer {
  background-color: #101010;
  height: 70px;
  display: flex;
  padding-top: 1.3rem;
}

.social-div {
  margin-left: 2rem;
}

.info-last-footer {
  color: white;
  margin-left: 25rem;
  font-size: 14px;
}

.ul-div {
  padding-right: 1rem;
  display: flex;
  list-style-type: none;
}

.app-button {
  border: 1px solid white;
  padding: 5px;
  background-color: #3799ba;
  width: 3.3rem;
  height: 1.9rem;
  padding-top: 3.5px;
  border-radius: 8px;
  margin-left: 1rem;
}

.title-btn {
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.title-btn {
  display: flex;
}